#nrd html {
    overflow-x: hidden;
    width: 100%
}

#nrd body:before {
    content: "screen";
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    overflow: hidden !important
}

@media screen and (min-width: 769px) {
    #nrd body:before {
        content: "screen_md"
    }
}

#nrd .isHidden {
    display: none !important
}

#nrd .isVisuallyHidden {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    overflow: hidden !important
}

@media screen and (max-width: 769px) {
    #nrd .isHidden_SM {
        display: none !important
    }
}

@media screen and (min-width: 769px) {
    #nrd .isHidden_MD {
        display: none !important
    }
}

#nrd .slideOutMenu .menu-item>a {
    display: block;
    padding: 10px;
    font-size: 15px;
    color: #898989;
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    font-weight: normal
}

#nrd .slideOutMenu .menu-item>a:hover, #nrd .slideOutMenu .menu-item>a:focus {
    color: #e51b24
}

#nrd .slideOutMenu .current_page_item>a {
    color: #e51b24
}

#nrd .slideOutMenu .current_page_item>a:hover, #nrd .slideOutMenu .current_page_item>a:focus {
    color: #e51b24
}

#nrd .btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 13px 34px;
    border: 0;
    background: #e51b24;
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    border-radius: 2px;
    border-width: 1px 5px;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease
}

#nrd .btn:hover, #nrd .btn:focus {
    background-color: #b8151c
}

#nrd .btn_secondary {
    background-color: #898989
}

#nrd .btn_secondary:hover, #nrd .btn_secondary:focus {
    background-color: #707070
}

#nrd .btn_ancillary {
    background-color: #f2f2f2;
    color: #898989
}

#nrd .btn_ancillary:hover, #nrd .btn_ancillary:focus {
    background-color: #f2f2f2;
    color: #363636
}

#nrd .btn_slim {
    position: relative;
    font-size: 16px;
    padding: 8px 15px
}

#nrd .btn_hollowLight {
    background-color: transparent;
    padding: 13px;
    border: 1px solid #fff
}

#nrd .btn_login:before {
    display: inline-block;
    content: url("../media/login-icon.svg");
    width: 22px;
    vertical-align: middle;
    margin-right: 5px
}

#nrd .buttonList ul {
    text-align: center;
    list-style: none;
    padding: 0
}

#nrd .buttonList li {
    display: inline-block;
    margin: 0 5px 10px
}

#nrd .buttonList li>a {
    display: block;
    padding: 10px 20px;
    background: none;
    border: none;
    border-radius: 2px;
    color: #e51b24;
    border: 1px solid #e51b24;
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
    font-size: 21px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

#nrd .buttonList li>a:hover, #nrd .buttonList li>a:focus {
    background-color: #e51b24;
    color: #fff
}

@media screen and (max-width: 767px) {
    #nrd .buttonList li {
        display: block
    }
}

#nrd #et_search_icon:hover, #nrd .et-social-icon a:hover, #nrd .comment-reply-link, #nrd .form-submit input, #nrd .entry-summary p.price ins, #nrd .woocommerce div.product span.price, #nrd .woocommerce-page div.product span.price, #nrd .woocommerce #content div.product span.price, #nrd .woocommerce-page #content div.product span.price, #nrd .woocommerce div.product p.price, #nrd .woocommerce-page div.product p.price, #nrd .woocommerce #content div.product p.price, #nrd .woocommerce-page #content div.product p.price, #nrd .woocommerce .star-rating span:before, #nrd .woocommerce-page .star-rating span:before, #nrd .woocommerce a.button.alt, #nrd .woocommerce-page a.button.alt, #nrd .woocommerce button.button.alt, #nrd .woocommerce-page button.button.alt, #nrd .woocommerce input.button.alt, #nrd .woocommerce-page input.button.alt, #nrd .woocommerce #respond input#submit.alt, #nrd .woocommerce-page #respond input#submit.alt, #nrd .woocommerce #content input.button.alt, #nrd .woocommerce-page #content input.button.alt, #nrd .woocommerce a.button, #nrd .woocommerce-page a.button, #nrd .woocommerce button.button, #nrd .woocommerce-page button.button, #nrd .woocommerce input.button, #nrd .woocommerce-page input.button, #nrd .woocommerce #respond input#submit, #nrd .woocommerce-page #respond input#submit, #nrd .woocommerce #content input.button, #nrd .woocommerce-page #content input.button, #nrd .woocommerce a.button.alt:hover, #nrd .woocommerce-page a.button.alt:hover, #nrd .woocommerce button.button.alt:hover, #nrd .woocommerce-page button.button.alt:hover, #nrd .woocommerce input.button.alt:hover, #nrd .woocommerce-page input.button.alt:hover, #nrd .woocommerce #respond input#submit.alt:hover, #nrd .woocommerce-page #respond input#submit.alt:hover, #nrd .woocommerce #content input.button.alt:hover, #nrd .woocommerce-page #content input.button.alt:hover, #nrd .woocommerce a.button:hover, #nrd .woocommerce-page a.button:hover, #nrd .woocommerce button.button, #nrd .woocommerce-page button.button:hover, #nrd .woocommerce input.button:hover, #nrd .woocommerce-page input.button:hover, #nrd .woocommerce #respond input#submit:hover, #nrd .woocommerce-page #respond input#submit:hover, #nrd .woocommerce #content input.button:hover, #nrd .wp-pagenavi span.current, #nrd .wp-pagenavi a:hover, #nrd .et_password_protected_form .et_submit_button, #nrd .nav-single a, #nrd .posted_in a, #nrd #top-menu li.current-menu-ancestor>a, #nrd #top-menu li.current-menu-item>a, #nrd .bottom-nav li.current-menu-item>a, #nrd .footer-widget h4 {
    color: #e51b24
}

#nrd #et_top_search {
    float: left
}

#nrd .wp-pagenavi span.current, #nrd .wp-pagenavi a:hover, #nrd .wp-pagenavi a:focus {
    color: #e51b24 !important
}

#nrd .drawer-content-top .et-social-icons {
    float: none
}

#nrd #main-header {
    position: fixed;
    /* #353535 !important; */
}

@media screen and (max-width: 600px) {
    #nrd #wpadminbar {
        position: fixed
    }
}

#nrd #et-top-navigation {
    padding-left: 0 !important
}

#nrd .et_pb_slider .et_pb_slide {
    text-align: left !important
}

#nrd .et-search-form input {
    padding: 15px;
    width: 90%;
    border: none;
    color: #333;
    position: absolute;
    top: 55px;
    bottom: auto;
    background: #fff;
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400
}

#nrd .et-search-form input::-webkit-input-placeholder {
    color: #d3d3d3
}

#nrd .et-search-form input:-moz-placeholder {
    color: #d3d3d3
}

#nrd .et-search-form input::-moz-placeholder {
    color: #d3d3d3
}

#nrd .et-search-form input:-ms-input-placeholder {
    color: #d3d3d3
}

#nrd #et_top_search {
    float: none;
    margin: 3px 0 0;
    position: relative;
    display: block;
    width: 18px;
    height: 21px;
    padding: 2px
}

#nrd #et_search_icon:before {
    position: relative;
    top: 0
}

#nrd span.et_close_search_field {
    margin: 0;
    top: 59px
}

#nrd .pageHeader h1 {
    font-size: 50px !important
}

#nrd .sectionHeading h2 {
    font-size: 41px !important
}

#nrd .bulletList ul {
    list-style: none;
    padding: 0;
    margin: 0
}

#nrd .bulletList li {
    padding-left: 1em;
    text-indent: -.7em;
    margin-bottom: 8px
}

#nrd .bulletList li:before {
    position: relative;
    content: '\25CF';
    color: #e51b24;
    left: -6px
}

#nrd .rowFlush .et_pb_column {
    margin: 0
}

#nrd .splitModule {
    position: relative
}

#nrd .splitModule .et_pb_column:first-of-type:after {
    display: block;
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background-color: #e5e5e5;
    position: relative;
    height: 1px;
    width: 100%;
    left: auto;
    top: 8px
}

#nrd .et_pb_text:before, #nrd .et_pb_text:after {
    content: " ";
    display: table
}

#nrd .et_pb_text:after {
    clear: both
}

#nrd #top-menu li.mega-menu ul {
    font-size: 0
}

#nrd #top-menu li.mega-menu ul li {
    margin: 0;
    float: none !important;
    display: inline-block !important;
    padding: 0 !important;
    font-size: 16px
}

#nrd #top-menu li.mega-menu.mega-menu-parent>ul>li>a {
    font-size: 15px;
    padding: 0 0 5px 0;
    margin-bottom: 10px;
    text-transform: uppercase
}

#nrd #top-menu li.mega-menu.mega-menu-parent>ul>li>a:hover, #nrd #top-menu li.mega-menu.mega-menu-parent>ul>li>a:focus {
    color: #cccccc
}

#nrd #top-menu li.mega-menu.mega-menu-parent li li {
    width: 50% !important
}

#nrd #top-menu li.mega-menu.mega-menu-parent li>a {
    width: 100% !important
}

#nrd #top-menu li li {
    padding: 0
}

#nrd #top-menu li li a {
    padding: 5px 0;
    line-height: 1.1
}

#nrd #top-menu li.mega-menu.mega-menu-parent li li a {
    font-weight: 400;
    padding: 0;
    line-height: 1
}

#nrd #top-menu .sub-menu {
    padding: 20px
}

#nrd #top-menu li.mega-menu.mega-menu-parent>.sub-menu {
    padding: 20px 10%
}

#nrd #top-menu .sub-menu .sub-menu {
    background: none;
    padding: 0
}

#nrd #top-menu-nav>ul>li>a:hover, #nrd #top-menu-nav>ul>li a:hover {
    opacity: 1;
    color: #e51b24
}

#nrd .nav li ul {
    border-top-width: 2px
}

#nrd #top-menu li.mega-menu.isActive>ul, #nrd #top-menu li.mega-menu.isActive li ul {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important
}

#nrd .gpsTabs {
    border: none
}

#nrd .gpsTabs .et_pb_tab_active {
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    margin-right: -1px
}

#nrd .gpsTabs .et_pb_tab_active>a {
    border: none
}

#nrd .gpsTabs .et_pb_tabs_controls {
    background-color: transparent;
    text-align: center
}

#nrd .gpsTabs .et_pb_tabs_controls>* {
    display: inline-block;
    float: none;
    padding: 10px 0;
    border: none
}

#nrd .gpsTabs .et_pb_tabs_controls>* a {
    display: block;
    padding: 10px 20px
}

#nrd .gpsTabs .et_pb_tabs_controls>*+*>a {
    border-left: 1px solid #e5e5e5
}

#nrd .gpsTabs .et_pb_tabs_controls>li.et_pb_tab_active:first-of-type {
    border-left: 1px solid #e5e5e5
}

#nrd .gpsTabs .et_pb_tabs_controls>li.et_pb_tab_active:last-of-type {
    border-right: 1px solid #e5e5e5
}

#nrd .gpsTabs .et_pb_all_tabs {
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    border-top: none
}

#nrd .gpsTabsClean {
    border: none
}

#nrd .gpsTabsClean .et_pb_tab_active {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px
}

#nrd .gpsTabsClean .et_pb_tab_active>a {
    border: none
}

#nrd .gpsTabsClean .et_pb_tabs_controls {
    background-color: transparent;
    text-align: center;
    border: none
}

#nrd .gpsTabsClean .et_pb_tabs_controls>* {
    display: inline-block;
    float: none;
    padding: 10px 0;
    border: none
}

#nrd .gpsTabsClean .et_pb_tabs_controls>* a {
    display: block;
    padding: 10px 20px
}

#nrd .gpsTabsClean .et_pb_tabs_controls>* a:hover, #nrd .gpsTabsClean .et_pb_tabs_controls>* a:focus {
    color: #e51b24
}

#nrd .gpsTabsClean .et_pb_tabs_controls>*+*>a {
    border: none
}

#nrd .et_link_main_url {
    display: block;
    text-indent: -999em
}

#nrd .et_link_main_url:after {
    display: block;
    text-indent: 0;
    content: url("../media/external-link-square.svg");
    width: 27px;
    height: 27px;
    margin: 0 auto
}

#nrd #et-secondary-menu>ul>li a {
    display: inline-block
}

#nrd .socialIcon {
    display: table-cell
}

#nrd .socialIcon+.socialIcon {
    padding-left: 10px
}

#nrd .noPriceTable .noPriceTable {
    margin-bottom: 0
}

#nrd .noPriceTable .et_pb_pricing_content_top {
    display: none
}

#nrd .noPriceTable .et_pb_pricing_table_0 .et_pb_pricing_heading {
    background-color: #767676
}

#nrd .noPriceTable .et_pb_pricing_table_2 .et_pb_pricing_heading {
    background-color: #2b2b2b
}

#nrd .mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out
}

#nrd .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8
}

#nrd .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0
}

#nrd .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    @inlcude transition(all 0.75s ease-out)
}

#nrd .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1
}

#nrd .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0
}

#nrd .gpsTestimonial {
    padding: 65px
}

#nrd .gpsTestimonial.et_pb_testimonial:before {
    font-size: 63px;
    margin-left: -32px;
    top: -32px;
    padding: 2px;
    border-radius: 50%
}

#nrd .summaryDetails ul {
    list-style: none;
    padding: 0
}

#nrd .summaryDetails li {
    margin-bottom: 5px
}

#nrd .postTitle {
    font-size: 20px
}

#nrd .mfp-iframe-holder .mfp-content {
    max-width: 1280px
}

#nrd .mfp-image-holder .mfp-close, #nrd .mfp-iframe-holder .mfp-close {
    top: -50px
}

#nrd .screen-reader-text {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    overflow: hidden !important
}

#nrd .searchform div {
    font-size: 0
}

#nrd .searchform input {
    padding: 10px;
    margin: 0;
    font-size: 14px;
    line-height: normal !important;
    border: 1px solid #ddd;
    color: #666
}

#nrd .searchform input[type=text] {
    border-radius: 3px 0 0 3px
}

#nrd .searchform input[type=submit] {
    background-color: #dddddd;
    border-radius: 0 3px 3px 0
}

#nrd .searchform>div>* {
    font-size: 14px
}

#nrd .linkText:hover, #nrd .linkText:focus {
    color: #e51b24
}

#nrd #page-container {
    padding-top: 123px
}

#nrd #main-content .container_full {
    padding-bottom: 58px
}

#nrd #main-content .container_full:before {
    display: none
}

#nrd .et_pb_filterable_portfolio .et_pb_portfolio_filters ul {
    text-align: center
}

#nrd .et_pb_filterable_portfolio .et_pb_portfolio_filters li {
    float: none;
    display: inline-block;
    margin: 4px 4px 0 4px
}

#nrd .et_pb_filterable_portfolio .et_pb_portfolio_filters li a {
    border-radius: 4px;
    background-color: #f2f2f2;
    border: none;
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500
}

#nrd .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active {
    background-color: #e51b24;
    color: #fff
}

#nrd .et_pb_slide_image, #nrd .et_pb_slide_video {
    width: 60%
}

#nrd .et_pb_slide_with_image .et_pb_slide_description {
    width: 33%
}

@media screen and (min-width: 981px) {
    #nrd .splitModule .et_pb_column:first-of-type:after {
        position: absolute;
        height: 100%;
        width: 1px;
        left: 50%;
        top: 0;
        margin-left: -1px
    }
}

@media screen and (max-width: 980px) {
    #nrd .et_pb_slide_description {
        text-align: left
    }
    #nrd #et_search_icon:before {
        top: 0
    }
    #nrd #page-container {
        padding-top: 112px
    }
}

@media screen and (max-width: 767px) {
    #nrd .et_pb_tabs_controls>* {
        display: block;
        float: none;
        padding: 10px 0;
        border: none
    }
    #nrd .et_pb_slide_with_image .et_pb_slide_description {
        width: 100%
    }
    #nrd .et_pb_slide_image, #nrd .et_pb_slide_video {
        width: 100%;
        display: block
    }
}

#nrd .drawer {
    overflow-x: hidden;
    background-color: #363636
}

#nrd .drawer-content {
    position: fixed;
    height: 100%;
    width: 300px;
    overflow-y: scroll;
    right: -300px;
    top: 0;
    bottom: 0;
    padding: 20px;
    background-color: #363636;
    z-index: 9999999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#nrd .drawer-content>* {
    display: block
}

#nrd .drawer-content>*+* {
    margin-top: 20px
}

#nrd .drawer-content-sub {
    border-bottom: 1px solid #898989;
    padding-bottom: 15px
}

#nrd .mix-drawer-content-top_rgt {
    text-align: right
}

#nrd .drawer-site {
    position: relative;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    right: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#nrd .drawer.isActive {
    height: 100vh;
    overflow-y: hidden
}

#nrd .drawer.isActive .drawer-content {
    height: 100vh;
    overflow-y: scroll;
    right: 0px
}

#nrd .drawer.isActive .drawer-site {
    position: relative;
    right: 300px;
    z-index: 9999999;
    border-left: 1px solid #292929;
    -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.15)
}

#nrd .isIOS.drawer.isActive .drawer-content {
    height: 100vh;
    overflow-y: scroll;
    right: -300px;
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px)
}

#nrd .isIOS.drawer.isActive .drawer-site {
    right: 0px;
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px)
}

#nrd .fields-section {
    padding: 30px
}

#nrd .fields-section-inner {
    max-width: 1280px;
    margin: 0 auto
}

#nrd .mix-fields-section_primary {
    background-color: #f2f2f2
}

#nrd .formRow {
    display: block;
    font-size: 0
}

#nrd .formRow+.formRow {
    margin-top: 20px
}

#nrd .formRow>* {
    display: block;
    font-size: 16px
}

#nrd .formRow_stacked>* {
    display: block
}

#nrd .formRow_full {
    width: 100%
}

#nrd .mix-formRow_ctr {
    text-align: center
}

#nrd .formRow-item_sm {
    width: 150px
}

#nrd .formRow-item-errorMsg {
    display: none
}

#nrd .formRow.error input, #nrd .formRow.error select {
    border: 1px solid #e51b24
}

#nrd .formRow.error label {
    color: #e51b24
}

#nrd .formRow.error .formRow-item-errorMsg {
    display: block;
    color: #e51b24
}

#nrd .funnel {
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    background-color: #363636
}

#nrd .funnel:before, #nrd .funnel:after {
    content: " ";
    display: table
}

#nrd .funnel:after {
    clear: both
}

#nrd .funnel>* {
    position: relative;
    display: block;
    padding: 20px 0 0;
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
}

#nrd .funnel-item-inner {
    padding: 0 50px 0 10px
}

#nrd .funnel-item-inner:before, #nrd .funnel-item-inner:after {
    content: " ";
    display: table
}

#nrd .funnel-item-inner:after {
    clear: both
}

#nrd .funnel-item {
    cursor: pointer
}

#nrd .funnel-item+.funnel-item {
    border-top: 1px solid #626262
}

#nrd .funnel-item-inner-icon {
    float: left;
    margin-right: 15px
}

#nrd .funnel-item-inner-label {
    display: block;
    overflow: hidden
}

#nrd .funnel-item-ft {
    position: absolute;
    top: 20px;
    right: 0;
    width: 50px;
    text-align: center
}

#nrd .funnel-item-ft .et-pb-icon_sm {
    font-size: 50px;
    opacity: 1;
    line-height: .5
}

#nrd .funnel-item-sub {
    max-height: 0;
    position: relative;
    left: 0;
    width: 100%;
    top: 100%;
    background-color: #363636;
    z-index: 9;
    overflow: hidden;
    -webkit-transition: max-height 0.25s ease-in-out;
    -moz-transition: max-height 0.25s ease-in-out;
    -ms-transition: max-height 0.25s ease-in-out;
    transition: max-height 0.25s ease-in-out
}

#nrd .funnel-item-sub-txt {
    padding: 20px 23px;
    font-size: 28px;
    line-height: 1.2
}

#nrd .funnel-item-sub-menu {
    display: block;
    list-style: none;
    padding: 0 0 10px
}

#nrd .funnel-item-sub-menu-item-anchor {
    display: block;
    color: #ebebeb;
    padding: 5px 23px
}

#nrd .funnel-item-sub-menu-item-anchor:before, #nrd .funnel-item-sub-menu-item-anchor:after {
    content: " ";
    display: table
}

#nrd .funnel-item-sub-menu-item-anchor:after {
    clear: both
}

#nrd .funnel-item-sub-menu-item-anchor:hover, #nrd .funnel-item-sub-menu-item-anchor:focus {
    background-color: #1d1d1d
}

#nrd .funnel-item-sub-menu-item-anchor-icon {
    float: left;
    margin-right: 10px
}

#nrd .funnel-item-sub-menu-item-anchor-txt {
    overflow: hidden
}

#nrd .funnel-item.isActive .et-pb-icon_sm {
    color: #e51b24
}

#nrd .funnel-item.isActive .funnel-item-sub {
    max-height: 1000em
}

#nrd .gform_wrapper h3.gform_title {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 16px
}

#nrd .gform_wrapper {
    max-width: 100%;
    margin: 0;
    padding-bottom: 30px
}

#nrd .gform_wrapper ul.gform_fields {
    margin: 0 !important;
    padding: 0 !important
}

#nrd .gform_wrapper .gform_footer, #nrd .gform_wrapper .gform_page_footer {
    overflow: hidden;
    text-align: center
}

#nrd .gform_wrapper .top_label .gfield_label {
    font-weight: 400;
    margin: radio0
}

#nrd .hasHiddenFields_wrapper .top_label .gfield_label, #nrd .hasHiddenFields_wrapper .ginput_container:not(.ginput_container_radio):not(.ginput_container_checkbox) label {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    overflow: hidden !important
}

#nrd .hasHiddenFields_wrapper li.gfield {
    margin-bottom: 15px
}

#nrd .hasHiddenFields_wrapper .gfield_contains_required {
    position: relative
}

#nrd .hasHiddenFields_wrapper .gfield_contains_required.gf_list_2col {
    padding-left: 20px
}

#nrd .hasHiddenFields_wrapper .gfield_contains_required.gf_list_2col:before {
    top: 0
}

#nrd .hasHiddenFields_wrapper .gfield_contains_required:before {
    display: block;
    position: absolute;
    content: '*';
    color: #e51b24;
    left: 5px;
    top: 50%;
    margin-top: -7px
}

#nrd .hasHiddenFields_wrapper .gfield_error:before {
    left: 12px;
    top: 34px
}

#nrd .gform_wrapper .gfield_required {
    color: inherit
}

#nrd .gform_wrapper input[type=text], #nrd .gform_wrapper input[type=url], #nrd .gform_wrapper input[type=email], #nrd .gform_wrapper input[type=tel], #nrd .gform_wrapper input[type=number], #nrd .gform_wrapper input[type=password], #nrd .gform_wrapper textarea.textarea {
    background-color: #ededed;
    border: 1px solid #e0e0e0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    color: #252525;
    font-weight: 400;
    padding: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#nrd .gform_wrapper select {
    font-family: inherit;
    letter-spacing: normal;
    display: inline-block;
    height: 51px;
    padding: 15px 35px 15px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #252525;
    background: #ededed url(../media/select-arrow.png) no-repeat right 18px;
    border: 1px solid #e0e0e0;
    -webkit-appearance: none;
    -moz-appearance: none
}

#nrd .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio] {
    margin-left: 1px
}

#nrd .gform_wrapper .top_label input.medium {
    padding-right: 16px
}

#nrd .gform_wrapper input[type=button], #nrd .gform_wrapper input[type=submit] {
    background: #e51b24;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em;
    font-family: inherit;
    color: #fff;
    margin: 8px 0 0;
    padding: 6px 20px;
    border: none;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

#nrd .gform_wrapper input[type=button] {
    float: left
}

#nrd .gform_wrapper .gform_page_footer .button.gform_next_button, #nrd .gform_wrapper .gform_page_footer input[type=submit].button.gform_button {
    float: right;
    margin-right: 0
}

#nrd .gform_wrapper input[type=button]:hover, #nrd .gform_wrapper input[type=submit]:hover {
    background: #b8151c;
    border: 2px solid transparent;
    cursor: pointer
}

#nrd .gform_wrapper .gform_fileupload_multifile input[type=button] {
    display: inline;
    float: none;
    font-size: 14px;
    margin-left: 5px;
    padding: 0 10px
}

#nrd .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-left: 0 !important
}

#nrd .gform_wrapper li.gfield.gfield_error, #nrd .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent;
    margin-bottom: 0 !important;
    padding: 0 !important;
    border: none
}

#nrd .gform_wrapper .top_label .gfield_error {
    width: inherit
}

#nrd .gform_wrapper .gfield_error .gfield_label {
    color: inherit
}

#nrd .gform_wrapper div.validation_error, #nrd .gform_wrapper .validation_message {
    color: red
}

#nrd .gform_wrapper li.gfield_error input[type=text], #nrd .gform_wrapper li.gfield_error input[type=url], #nrd .gform_wrapper li.gfield_error input[type=email], #nrd .gform_wrapper li.gfield_error input[type=tel], #nrd .gform_wrapper li.gfield_error input[type=number], #nrd .gform_wrapper li.gfield_error input[type=password], #nrd .gform_wrapper li.gfield_error textarea {
    border-color: red
}

#nrd .gform_wrapper .top_label li.gfield.gfield_error.gf_left_third, #nrd .gform_wrapper .top_label li.gfield.gfield_error.gf_middle_third, #nrd .gform_wrapper .top_label li.gfield.gfield_error.gf_right_third {
    width: 32%
}

#nrd .gform_wrapper .gf_progressbar_wrapper, #nrd .gform_wrapper .gsection, #nrd .gform_wrapper .gform_page_footer {
    width: 97.5%
}

#nrd .gform_wrapper .gf_progressbar {
    width: 100%;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

#nrd .gform_wrapper .gf_progressbar, #nrd .gform_wrapper .gf_progressbar_percentage {
    background-size: contain;
    height: 40px
}

#nrd .gform_wrapper .gf_progressbar_percentage {
    font-family: inherit
}

#nrd .gform_wrapper .gf_progressbar_percentage span {
    margin-top: 10px
}

#nrd .gform_wrapper .datepicker {
    width: 8em !important
}

#nrd .gform_wrapper .gfield_date_day, #nrd .gform_wrapper .gfield_date_month, #nrd .gform_wrapper .gfield_date_year, #nrd .gform_wrapper .gfield_time_hour, #nrd .gform_wrapper .gfield_time_minute {
    width: 5.6em
}

#nrd .gform_wrapper .gfield_time_hour i {
    width: 24%
}

#nrd .gform_wrapper .gfield_date_year {
    width: 5.5em !important
}

#nrd .gform_wrapper .gfield_date_day, #nrd .gform_wrapper .gfield_date_month, #nrd .gform_wrapper .gfield_date_year {
    width: 4.5em
}

@media screen and (max-width: 767px) {
    #nrd .gform_wrapper .gf_progressbar_wrapper, #nrd .gform_wrapper .gf_progressbar, #nrd .gform_wrapper input:not([type=radio]), #nrd .gform_wrapper select, #nrd .gform_wrapper textarea, #nrd div.gform_wrapper.gf_browser_chrome select, #nrd .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span, #nrd .gform_wrapper .ginput_complex.ginput_container.no_first_name.has_middle_name.has_last_name span, #nrd .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.no_last_name span, #nrd .gform_wrapper .ginput_complex .ginput_left, #nrd .gform_wrapper .ginput_complex .ginput_right, #nrd .gform_wrapper .ginput_complex .ginput_full input[type=text], #nrd .gform_wrapper .ginput_complex .ginput_full input[type=url], #nrd .gform_wrapper .ginput_complex .ginput_full input[type=email], #nrd .gform_wrapper .ginput_complex .ginput_full input[type=tel], #nrd .gform_wrapper .ginput_complex .ginput_full input[type=number], #nrd .gform_wrapper .ginput_complex .ginput_full input[type=password], #nrd .gform_wrapper .ginput_complex .ginput_right select, #nrd .gform_wrapper .ginput_complex select, #nrd .gform_wrapper .gform_fields li.gfield, #nrd .gform_wrapper .gform_page_footer {
        width: 100% !important
    }
    #nrd .gform_wrapper .ginput_complex .ginput_right, #nrd .gform_wrapper .gform_fields li.gfield.gf_middle_third, #nrd .gform_wrapper .gform_fields li.gfield.gf_right_third {
        margin-left: 0 !important
    }
    #nrd .gform_wrapper .gform_page_footer .button.gform_next_button, #nrd .gform_wrapper .gform_page_footer .button.gform_previous_button, #nrd .gform_wrapper .gform_page_footer .button.gform_button {
        margin: 0 0 .5em
    }
    #nrd .gform_wrapper li.gfield.gf_2col ul.gfield_checkbox li, #nrd .gform_wrapper li.gfield.gf_2col ul.gfield_radio li, #nrd .gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li, #nrd .gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li {
        width: 100%
    }
}

#nrd .grid {
    display: block;
    margin: 0 auto
}

#nrd .grid-col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#nrd .grid-col+.grid-col {
    margin-top: 20px
}

#nrd .grid_tight .grid-col+.grid-col {
    margin-top: 10px
}

#nrd .group+.group {
    margin-top: 50px
}

#nrd .group>*+* {
    margin-top: 40px
}

#nrd .group_sm>*+* {
    margin-top: 20px
}

#nrd .mix-group_textCenter {
    text-align: center
}

#nrd .hdg {
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif
}

#nrd .mix-hdg_bold {
    font-weight: 400
}

#nrd .mix-hdg_upper {
    text-transform: uppercase
}

#nrd .headerActions {
    float: right;
    margin: 48px 0 0 15px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

#nrd .et-fixed-header .headerActions {
    margin: 46px 0 0 15px
}

#nrd .headerActions>* {
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

#nrd .headerActions>*+* {
    margin-left: 10px
}

@media screen and (max-width: 980px) {
    #nrd .headerActions, #nrd .et-fixed-header .headerActions {
        margin: 25px 0 25px 15px
    }
}

#nrd .et_pb_menu_hidden .headerActions-item_hidden {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

#nrd .iconButton {
    position: relative;
    cursor: pointer
}

#nrd .iconButton>* {
    display: inline-block;
    vertical-align: middle
}

#nrd .iconButton-label {
    margin-top: -2px
}

#nrd .iconButton-icon .mobile_menu_bar {
    padding: 0
}

#nrd .iconButton_close:before {
    display: inline-block;
    content: url("../media/close-icon.svg");
    width: 18px;
    height: 18px;
    padding: 10px;
    vertical-align: middle
}

#nrd .iconButton_login {
    font-size: 14px
}

#nrd .input, #nrd .input[type=search], #nrd .input[type=email], #nrd .input[type=date], #nrd .input[type=time], #nrd .input[type=number], #nrd .input[type=tel] {
    background-color: #ededed;
    border: 1px solid #e0e0e0;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    color: #252525;
    padding: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#nrd .input::-webkit-input-placeholder, #nrd .input[type=search]::-webkit-input-placeholder, #nrd .input[type=email]::-webkit-input-placeholder, #nrd .input[type=date]::-webkit-input-placeholder, #nrd .input[type=time]::-webkit-input-placeholder, #nrd .input[type=number]::-webkit-input-placeholder, #nrd .input[type=tel]::-webkit-input-placeholder {
    color: #d3d3d3
}

#nrd .input:-moz-placeholder, #nrd .input[type=search]:-moz-placeholder, #nrd .input[type=email]:-moz-placeholder, #nrd .input[type=date]:-moz-placeholder, #nrd .input[type=time]:-moz-placeholder, #nrd .input[type=number]:-moz-placeholder, #nrd .input[type=tel]:-moz-placeholder {
    color: #d3d3d3
}

#nrd .input::-moz-placeholder, #nrd .input[type=search]::-moz-placeholder, #nrd .input[type=email]::-moz-placeholder, #nrd .input[type=date]::-moz-placeholder, #nrd .input[type=time]::-moz-placeholder, #nrd .input[type=number]::-moz-placeholder, #nrd .input[type=tel]::-moz-placeholder {
    color: #d3d3d3
}

#nrd .input:-ms-input-placeholder, #nrd .input[type=search]:-ms-input-placeholder, #nrd .input[type=email]:-ms-input-placeholder, #nrd .input[type=date]:-ms-input-placeholder, #nrd .input[type=time]:-ms-input-placeholder, #nrd .input[type=number]:-ms-input-placeholder, #nrd .input[type=tel]:-ms-input-placeholder {
    color: #d3d3d3
}

#nrd .input:focus {
    outline: 0;
    border-color: #898989;
    background-color: #fff
}

#nrd .input_lgt, #nrd .input_lgt[type=search], #nrd .input_lgt[type=email], #nrd .input_lgt[type=date], #nrd .input_lgt[type=time], #nrd .input_lgt[type=number], #nrd .input_lgt[type=tel] {
    background-color: #ededed
}

#nrd .select {
    font-family: inherit;
    letter-spacing: normal;
    display: inline-block;
    height: 51px;
    padding: 15px 35px 15px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #252525;
    background: #ededed url(../media/select-arrow.png) no-repeat right 18px;
    border: 1px solid #e0e0e0;
    -webkit-appearance: none;
    -moz-appearance: none
}

#nrd .select::-webkit-input-placeholder {
    color: #d3d3d3
}

#nrd .select:-moz-placeholder {
    color: #d3d3d3
}

#nrd .select::-moz-placeholder {
    color: #d3d3d3
}

#nrd .select:-ms-input-placeholder {
    color: #d3d3d3
}

#nrd .select:focus {
    outline: 0;
    border-color: #898989
}

#nrd .select_full {
    width: 100%
}

#nrd .select_lgt {
    background-color: #ededed
}

#nrd .select-placeholder {
    color: #4b4b4b
}

#nrd .label {
    display: inline-block;
    font-weight: 400;
    margin-bottom: 5px
}

#nrd .isRequired:after {
    display: inline-block;
    content: '*';
    color: #e51b24;
    margin-left: 5px
}

#nrd .note {
    display: inline-block;
    padding: 10px;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    color: #c2c2c2
}

#nrd .note:before {
    display: inline-block;
    content: '*';
    color: #e51b24
}

#nrd .pageSection_primary {
    background-color: #363636
}

#nrd .pageSection-inner {
    max-width: 1200px;
    margin: 0 auto
}

#nrd .resultsHeader {
    text-align: center;
    padding: 15px;
    border-top: 2px solid #e51b24;
    border-bottom: 2px solid #e51b24;
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #e51b24;
    text-transform: uppercase
}

#nrd .resultsHeader:before, #nrd .resultsHeader:after {
    display: inline-block;
    content: '';
    margin: 0 15px 0 0;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #e51b24
}

#nrd .resultsHeader:after {
    margin: 0 0 0 15px
}

#nrd .resultsSection {
    padding: 25px
}

#nrd .resultsSection_primary {
    background-color: #e51b24;
    border-bottom: 2px solid #fff
}

#nrd .resultsSection_secondary {
    background-color: #363636;
    padding: 40px
}

#nrd .resultsSection-inner {
    max-width: 1200px;
    margin: 0 auto
}

#nrd .resultsSection-inner_constrained {
    max-width: 500px
}

#nrd .resultsSummary {
    text-align: center
}

#nrd .resultsSummary-label {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px
}

#nrd .resultsSummary-total {
    color: #fff;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px
}

#nrd .resultsSummary-label_lrg {
    font-size: 50px;
    font-weight: 500;
    line-height: 1
}

#nrd .resultsSummary-total_lrg {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1
}

#nrd .resultsTally {
    margin-bottom: 40px;
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400
}

#nrd .resultsTally-hd {
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 2px solid #e51b24;
    text-align: center;
    font-size: 21px;
    color: #e51b24
}

#nrd .resultsTally-bd-item {
    margin-bottom: 15px;
    display: table;
    width: 100%
}

#nrd .resultsTally-bd-item>* {
    display: table-cell;
    vertical-align: top
}

#nrd .resultsTally-bd-item-label {
    width: 100%;
    font-size: 18px
}

#nrd .resultsTally-bd-item-total {
    text-align: right;
    white-space: nowrap
}

#nrd .sectionNav {
    width: 100%;
    text-align: center
}

#nrd .sectionNav>* {
    margin: 0 5px 10px;
    display: inline-block;
    float: none;
    width: auto
}

#nrd .sectionNav a {
    display: block;
    color: #252525;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px 30px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

#nrd .sectionNav a:hover, #nrd .sectionNav a:focus {
    background-color: #f2f2f2
}

#nrd .sectionNav .current a {
    color: #fff;
    background-color: #e51b24
}

#nrd .utilityNav {
    position: relative;
    background-color: #ffffff;
    padding: 2px 30px;
    z-index: 9999
}

#nrd .utilityNav:before, #nrd .utilityNav:after {
    content: " ";
    display: table
}

#nrd .utilityNav:after {
    clear: both
}

#nrd .utilityNav-inner {
    margin: 0 auto
}

#nrd .utilityNav-inner-left {
    float: left
}

#nrd .utilityNav-inner-right {
    float: right
}

#nrd .utilityNav a {
    color: #6d6d6d;
}

#nrd .utilityNav a:hover, #nrd .utilityNav a:focus {
    color: #e51b24
}

#nrd .wrap {
    max-width: 1200px;
    margin: 0 auto
}

@media screen and (min-width: 769px) {
    #nrd .formRow>* {
        display: inline-block
    }
    #nrd .formRow>*+* {
        padding-left: 15px
    }
    #nrd .formRow_split {
        width: 100%
    }
    #nrd .formRow_split>* {
        width: 50%
    }
    #nrd .mix-formRow-item_txtRgt {
        text-align: right
    }
    #nrd .funnel {
        display: table;
        table-layout: fixed
    }
    #nrd .funnel>* {
        display: table-cell;
        width: 33.33%;
        padding-bottom: 40px
    }
    #nrd .funnel-item-inner {
        padding: 0 18px
    }
    #nrd .funnel-item+.funnel-item {
        border: none
    }
    #nrd .funnel-item+.funnel-item:before {
        position: absolute;
        left: 0;
        top: 15%;
        width: 1px;
        height: 70%;
        background-color: #fff;
        content: ''
    }
    #nrd .funnel-item-sub {
        position: absolute;
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -ms-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out
    }
    #nrd .funnel-item-ft {
        position: absolute;
        top: auto;
        right: auto;
        bottom: -5px;
        width: 100%;
        text-align: center
    }
    #nrd.no-touch .funnel-item:hover .et-pb-icon_sm, #nrd.no-touch .funnel-item:focus .et-pb-icon_sm {
        color: #e51b24
    }
    #nrd.no-touch .funnel-item:hover .funnel-item-sub, #nrd.no-touch .funnel-item:focus .funnel-item-sub {
        max-height: 1000em
    }
    #nrd .grid {
        margin-left: -20px;
        font-size: 0
    }
    #nrd .grid:before, #nrd .grid:after {
        content: " ";
        display: table
    }
    #nrd .grid:after {
        clear: both
    }
    #nrd .grid-col {
        display: inline-block;
        vertical-align: top;
        padding-left: 20px;
        font-size: 16px
    }
    #nrd .grid-col+.grid-col, #nrd .grid_tight .grid-col+.grid-col {
        margin-top: 0
    }
    #nrd .grid-col_1of12 {
        width: 8.3333333333%
    }
    #nrd .grid-col_2of12 {
        width: 16.6666666667%
    }
    #nrd .grid-col_3of12 {
        width: 25%
    }
    #nrd .grid-col_4of12 {
        width: 33.3333333333%
    }
    #nrd .grid-col_5of12 {
        width: 41.6666666667%
    }
    #nrd .grid-col_6of12 {
        width: 50%
    }
    #nrd .grid-col_7of12 {
        width: 58.3333333333%
    }
    #nrd .grid-col_8of12 {
        width: 66.6666666667%
    }
    #nrd .grid-col_9of12 {
        width: 75%
    }
    #nrd .grid-col_10of12 {
        width: 83.3333333333%
    }
    #nrd .grid-col_11of12 {
        width: 91.6666666667%
    }
    #nrd .grid-col_12of12 {
        width: 100%
    }
    #nrd .grid_wide {
        margin-left: -118px;
        font-size: 0
    }
    #nrd .grid_wide:before, #nrd .grid_wide:after {
        content: " ";
        display: table
    }
    #nrd .grid_wide:after {
        clear: both
    }
    #nrd .grid_wide .grid-col {
        display: inline-block;
        vertical-align: top;
        padding-left: 118px;
        font-size: 16px
    }
    #nrd .grid_reverse {
        text-align: right;
        margin: 0
    }
    #nrd .grid_center {
        text-align: center
    }
    #nrd .grid_bottom>* {
        vertical-align: bottom
    }
    #nrd .grid-col_right {
        float: right
    }
    #nrd .mix-grid-col_pushBottom {
        margin-bottom: 20px
    }
    #nrd .resultsHeader {
        font-size: 21px
    }
    #nrd .resultsHeader:before, #nrd .resultsHeader:after {
        margin: 0 45px 0 0
    }
    #nrd .resultsHeader:after {
        margin: 0 0 0 45px
    }
}